.profile__edit-avatar-button{
    margin: 0 25px 0 0;
    padding: 0;
    border-radius: 50%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    cursor: pointer;
    position: relative;
}

@media (max-width: 800px){
    .profile__edit-avatar-button {
      margin: 0 0 22px 0;
    }
  }

  .profile__edit-avatar-button:hover::before{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: url(../../../images/edit-avatar-favicon.svg);
    display: flex;
    align-items: center;
    justify-content: center;
}
