@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/content/content.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/page/page.css);
@import url(./blocks/root/root.css);
@import url(./blocks/navigaton/navigaton.css);
@import url(./blocks/navigaton/__add-place-button/navigation__add-place-button.css);
@import url(./blocks/place-card/place-card.css);
@import url(./blocks/place-card/__annotation/place-card__annotation.css);
@import url(./blocks/place-card/__like/place-card__like.css);
@import url(./blocks/place-card/__like-button/place-card__like-button.css);
@import url(./blocks/place-card/__like-button/_active/place-card__like-button_active.css);
@import url(./blocks/place-card/__like-counter/place-card__like-counter.css);
@import url(./blocks/place-card/__remove-button/place-card__remove-button.css);
@import url(./blocks/place-card/__photo/place-card__photo.css);
@import url(./blocks/place-card/__title/place-card__title.css);
@import url(./blocks/place-cards/place-cards.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/profile/__edit-avatar-button/profile__edit-avatar-button.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/responsible-fade/responsible-fade.css);
@import url(./blocks/responsible-fade/_opacity/responsible-fade_opacity_medium.css);
@import url(./blocks/responsible-fade/_opacity/responsible-fade_opacity_strong.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__close-icon/popup__close-icon.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__field/popup__field.css);
@import url(./blocks/popup/__field/_state/popup__field_state_error.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__photo/popup__photo.css);
@import url(./blocks/popup/__photo-container/popup__photo-container.css);
@import url(./blocks/popup/__submit-button/popup__submit-button.css);
@import url(./blocks/popup/__submit-button/_type/popup__submit-button_type_confirm.css);
@import url(./blocks/popup/__submit-button/_inactive/popup__submit-button_inactive.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_type/popup__title_type_photo.css);
@import url(./blocks/popup/_active/popup_active.css);
@import url(./blocks/popup/_type/popup_type_picture-full-screen.css);
@import url(./blocks/popup/__spinner/popup__spinner.css);
@import url(./blocks/page/_loading/page_loading.css);
